<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Quiz Home</title>
    </head>
    <body>
        <H1 align="center"> Welcome back <%=fname%>  <%=lname%> </H1>
            <form method="Post" action="/logout">
                Logout
                <input type="submit">
            </form>
    </body>
</html>